.health-condition-form {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
}

.footer-list {
  align-items: center;
  display: flex;
  list-style-type: disc;

  & > li {
    display: inline-block;
  }

  & li + li {
    margin-left: 15px;
  }
}