.health-condition-form {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
}

html {
  position: relative;
  min-height: 100%;
}

root {
  margin: 0 0 100px;
  /* bottom = footer height */
  padding: 25px;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: rgb(231, 231, 231);
  text-align: center;
  overflow: hidden;

  .footer-list {
    align-items: center;
    display: flex;
    list-style-type: disc;
    justify-content: center;

    & > li {
      display: inline-block;
    }

    & li + li {
      margin-left: 15px;
    }
  }
}

.bmi-table, .bfp-table {
  margin-top: 50px;
} 